{% extends 'Admin/AdminMaster.html' %}

{% block content%}

<form method="POST" action="{% url 'institute_app:add_system' %}" class="reg-form">
    {% csrf_token %} 
    

    {% if success_msg %}
    <div class="alert alert-success " style="border-radius: 10px;width: 100px; margin-top: 10px;width:250px" role="alert">
       {{success_msg}}
      </div>
      {% endif %}
      {% if error_msg %}
      <div class="alert alert-danger " style="border-radius: 10px;margin-top: 10px;width: 250px;" role="alert">
         {{error_msg}}
        </div>
        {% endif %}

        
<table style="border-spacing: 10px; border-collapse: separate;">
    <tr>
        <td>
            {{form.lab_no.label}}
        </td>
        <td>
            {{form.lab_no}}
        </td>
        <tr>
            <td>
                {{form.sys_no.label}}
            </td>
            <td>
                {{form.sys_no}}
            </td>
    </tr>
 
</table>

<input type="submit" value="Add" class="btn btn-primary" style="margin-left: 60px;"/>
</form>
{% endblock %}