{% extends 'Admin/AdminMaster.html' %}

{% block content%}
{% if success_msg %}
<div class="alert alert-success w-50" style="border-radius: 10px;margin-top: 10px;width:100px;margin-left: 200px;" role="alert">
    {{success_msg}}
   </div>
   {% endif %}
   {% if error_msg %}
   <div class="alert alert-danger w-50" style="border-radius: 10px;margin-top: 10px;margin-left: 200px;" role="alert">
      {{error_msg}}
     </div>
     {% endif %}
     
 <div class="alert alert-danger "  id="err_display" style="border-radius: 10px;margin-top: 10px; opacity: .9;display: none;margin-left:280px; width: 310px;" role="alert">
  eded
</div>
<form method="POST" action="{% url 'institute_app:add_trainer' %}" class="reg-form" enctype="multipart/form-data">
  {% csrf_token %}
<table style="margin-left: 200px; border-spacing: 10px; border-collapse: separate;">
    <tr>
        <td>Trainer Name</td>
         <td><input type="text" name="tr_name" id="tr_name" class="form-control" required></td>
    </tr>
    <tr>
        <td>Assign Course</td>
         <td>
             <select name="course" class="form-control">
                 {% for course in courses %}
                <option value="{{course.c_id}}">{{course.c_name|title}}</option>
                {% endfor %}
         </select>
        </td>
    </tr>
    <tr>
        <td >Gender</td>
         <td style="color: black;">
            <input type="radio" name="tr_gender" id="std_gender1" value="male" checked >Male
            <input type="radio" name="tr_gender" id="std_gender2" value="female">Female

        </td>
    </tr> 
    <tr>
        <td>D.O.B</td>
         <td><input type="date" name="tr_dob" id="tr_dob" class="form-control" required></td>
    </tr>
    <tr>
        <td>Qualification</td>
         <td><select name="tr_qual" id="tr_qual" class="form-control">
             <option value="bca">BCA</option>
             <option value="mca">MCA</option>
             <option value="bba">BBA</option>
             <option value="bsc">BSC</option>
             <option value="msc">MSC</option>
             <option value="btech">BTech</option>
             <option value="mtech">MTech</option>
         </select></td>
    </tr>
    <tr>
        <td>Address</td>
         <td><textarea name="tr_add" id="std_address" cols="22" class="form-control" rows="5" required></textarea></td>
    </tr>
  
   <tr>
    <td>Email</td>
     <td><input type="text" name="tr_email" id="tr_email" class="form-control" required></td>
</tr>
<tr>
    <td>Phone No</td>
     <td><input type="text" name="tr_phno" id="tr_phno" class="form-control" required></td>
</tr>
<tr>
    <td>Select Pic</td>
     <td><input type="file" name="tr_pic" id="tr_pic" required class="form-control"></td>
</tr>
    
    
   
    
</table>

<input type="submit" id="btn" value="Register" class="btn btn-primary" style="margin-left: 290px;"/>
</form>









<script>
    $(document).ready(()=>{
        $('#btn').click(()=>{
           
       
        // var name=$('#tr_name') 
        // var dob=$('#id_tr_dob')
       
        // var email=$('#tr_email') 
        // var address=$('#id_tr_address') 
         var phno=$('#tr_phno') 
        
        var err=$('#err_display')
    
        var name_format=/^[a-z A-Z]+$/
        var reg_email = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
          
        dob_format = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/
       
    //     if(name.val().match(name_format)==null && name.val()!=''){
        
    //     err.css({'display':'block','color':'red'})
    //     err.html('Name Should Not Contain Numbers Or Characters')
    //     name.focus()
    //     return false
    // }
    // else{
    //     err.css({'display':'none'})
    // }

    // if(email.val().match(reg_email)==null && email.val()!=""){
         
    //      err.css({'display':'block','color':'red'})
    //      err.html('Invalid Email Format')
        
    //      email.focus()
    //      return false;
    //  }
 
    //  else{
    //      err.css({'display':'none'})
    //  }
        
    var phno_format=/^[6-9]{1}[0-9]{9}$/;
if(phno.val().match(phno_format)==null && phno.val()!=''){
     
     err.css({'display':'block','color':'red'})
     err.html('Invalid Phone No')
     phno.focus()
     return false
 }
 else{
     err.css({'display':'none'})
 }
        })
    })
    </script>
    
    





{% endblock %}