{% extends 'Admin/AdminMaster.html' %}

{% block content%}
<form method="POST" action="{% url 'institute_app:view_seating_admin'  %}" class="reg-form" enctype="multipart/form-data">

    {% csrf_token %}
    <table style="border-spacing: 20px;border-collapse: separate;margin-left: 280px;margin-top: 50px;">
    <tr>
        <td>
            Select Lab
        </td>
        <td>
            <select name="lab"  class="form-control" style="width: 100px;">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" class="btn" style="background-color: blueviolet;"></td>
    </tr>
</table>

</form>



{% if seating_details %}
<div class="container">
<table class="table table-striped table-hover">
   <tr>
      
       <th>Sys.No</th>
       <th>Slot 1</th>
       <th>Slot 2</th>
       <th>Slot 3</th>
   </tr>
   <tr>
       {% for data in seating_details %}

        <td>{{data.sys_no}}</td>
        <td>{{data.slot1|title}}</td>
        <td>{{data.slot2|title}}</td>
        <td>{{data.slot3|title}}</td>

       
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}

{% endblock %}