{% extends 'Student/StudentMaster.html' %}

{% block content%}

<div class="container">
  

    {% if data %}
<table class="table table-primary table-hover" style="opacity: 0.8;">    
    <tr>
    
        <th>SL.No</th>
        <th>Title</th>
        <th>Download</th>
      
        
   </tr>
   {% for d in data %}
   
    <td>{{forloop.counter}}</td>
    <td>{{d.cert_title}}</td>
    <td> <a target="_blank" href="{{d.cert.url}}">{{d.cert}}</a></td>

    
   <tr>
    {% endfor %}
  
</table> 
{% else %}
<p class="h3 text-danger fw-bolder" style="margin-left: 280px;margin-top:100px;">No Data Found</p>
   {% endif %}
</div>

{% endblock %}