{% extends 'HR/HrMaster.html' %}

{% block content%}


    <p  class="text-danger">{{msg}}</p>
<table class="table table-primary table-hover">
 <tr>
    <th>Date</th> 
    <th>Status</th>
    <th></th>
    <th></th>
    
 </tr>
 
{% for d in data %}
<form method="POST" action="{% url 'institute_app:hr_followup_hst' d.f_id.f_id %}" class="reg-form" enctype="multipart/form-data">
    {% csrf_token %}
 <tr>
    <td>{{d.date}}</td>
<td>{{d.status|capfirst}}</td>

<td><input type="submit" value="Delete" name="" id="" class="btn btn-danger" ></td>
<td><input type="hidden" name="id" id="" value="{{d.id}}" ></td>
 </tr>
 
    </form>
    {% endfor %}
</table>


</form>
{% endblock %}