{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}

<form method="POST" action="{% url 'institute_app:std_att' %}" class="reg-form" enctype="multipart/form-data">
    {% csrf_token %}
   
<table style="border-spacing: 10px;border-collapse: separate; margin-left: 320px; ">
 
    <tr style="color: white; font-weight: bold;">
        <td >Select Student</td>
         <td>
             <select name="student" class="form-control">
                 {% for student in students %}
                <option value="{{student.s_id}}">{{student.s_name|title}}</option>
                {% endfor %}
         </select>
        </td>
    </tr>
    <tr style="color: white; font-weight: bold;">
        <td>
            Date
        </td>
        <td>
            <input type="date" name="date" id="" required class="form-control">
        </td>
    </tr>

        <tr style="color: white; font-weight: bold;">
            <td>Status</td>
            <td>
                <select name="status" id="" class="form-control">
                    <option value="present">Present</option>
                    <option value="leave">Leave</option>
                </select>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Add" class="btn " style="background-color: blueviolet;"></td>
        </tr>
    </table>

    {% if msg %}
    <div class="alert alert-success w-25" style="border-radius: 10px;margin-top: 10px;margin-left: 350px; " role="alert">
       {{msg}}
      </div>
      {% endif %}

     
</form>
{% endblock %}