{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}


<form  action="{% url  'institute_app:upd_status' %}"  method="POST">
    {% csrf_token %}

 <table style="border-spacing: 20px;border-collapse: separate;position: relative; left:400px">
     <tr>
         <th class="h5" style="color: white;font-weight: bold;">Select Module</th>
         <th><select name="module" id="" class="form-control">
             {% for mod in modules %}


             <option value="{{mod.m_id.m_id}}">{{mod.m_id.m_name|title}}</option>

             {% endfor %}
         </select></th>
     </tr>
     <tr>
         <td></td>
         <td><input type="submit" value="Change"  name="" class="btn btn-primary"   style="background-color: blueviolet;" ></td>
         <td><input type="hidden" name="s_id" value="{{s_id}}" id=""></td>
     </tr>
 </table>
</form>
<script>
document.getElementById('btn').addEventListener('click',()=>{
    alert('Module Status Updated Succesfully')
})
</script>
{% endblock %}