{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/assets/css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>
<body style="background-image: url({% static 'logo.png' %}); background-size:cover">
    {% block content%}

    <div class="container">

        <div class="row">
          
        <div class="col-md-4 no-gutters col-12 col-sm-12 ">
            <a href="/login?type=ad">
            <div style=" height: 100px;width:200px;border-radius: 5px; margin-top: 100px;margin-left: 180px;background-color:#4c4c4c;opacity: 0.9;">
                <p style="position: relative;top:10px;left:60px;color: white;font-weight: bolder;">Admin</p>
                <i class="fa-user" aria-hidden="true"></i>   
            </div>
            
        </a>

        </div>

       
        <div class="col-md-4 col-sm-12 col-12 ">
            <a href="/login?type=hr">
            <div style=" height: 100px;width:200px;border-radius: 5px; margin-top: 100px;margin-left: 180px;background-color:#4c4c4c;opacity: 0.9;">
                <p style="position: relative;top:10px;left:60px;color: white;font-weight: bolder;">HR</p>
                <i class="fa-user" aria-hidden="true"></i>   
            </div>
            
        </a>

        </div>
        </div>

        <div class="row">
           
            <div class="col-md-4 no-gutters col-12 col-sm-12 ">
                <a href="/login?type=tr">
                <div style=" height: 100px;width:200px;border-radius: 5px; margin-top: 40px;margin-left: 180px;background-color:#4c4c4c;opacity: 0.9;">
                    <p style="position: relative;top:10px;left:60px;color: white;font-weight: bolder;">Trainer</p>
                    <i class="fa-user" aria-hidden="true"></i>   
                </div>
            </a>
                
    
            </div>
    
    
            <div class="col-md-4 col-sm-12 col-12 ">
                <a href="/login?type=st">
                <div style=" height: 100px;width:200px;border-radius: 5px; margin-top: 40px;margin-left: 180px;background-color:#4c4c4c;opacity: 0.9;">
                    <p style="position: relative;top:10px;left:60px;color: white;font-weight: bolder;">Student</p>
                    <i class="fa-user" aria-hidden="true"></i>   
                </div>
            </a>
                
    
            </div>
      
            </div>


       </div>

        <!-- <div class="row" >
            <div class="col-md-6 col-xs-12 " style="padding: 0px;border: 2px solid red;">
                <div style=" height: 100px;width:200px;border-radius: 5px; margin-top: 100px;margin-left: 200px;background-color:#4c4c4c;opacity: 0.9;">
      <p style="position: relative;top:10px;left:60px;color: white;font-weight: bolder;">Admin</p>
      <i class="fa-user" aria-hidden="true"></i>   
  </div>
  
              </div>
            <div class="col-md-6 col-xs-12" style="padding: 0px;">
                <div style=" height: 100px;width:200px;border-radius: 5px; margin-top: 100px;margin-left: 20px;background-color:#4c4c4c;opacity: 0.9;">
      <p style="position: relative;top:10px;left:60px;color: white;font-weight: bolder;">Trainer</p>
      <i class="fa fa-user" aria-hidden="true"></i>   
  </div>
  
              </div>
        </div>

        <div class="row" >
            <div class="col-md-6 col-xs-12" style="padding: 0px;">
                <div style=" height: 100px;width:200px;border-radius: 5px; margin-top: 100px;margin-left: 20px;background-color:#4c4c4c;opacity: 0.9;">
      <p style="position: relative;top:10px;left:60px;color: white;font-weight: bolder;">HR</p>
      <i class="fa fa-user" aria-hidden="true"></i>   
  </div>
  
              </div>
            <div class="col-md-6 col-xs-12" style="padding: 0px;">
                <div style=" height: 100px;width:200px;border-radius: 5px; margin-top: 100px;margin-left: 20px;background-color:#4c4c4c;opacity: 0.9;">
      <p style="position: relative;top:10px;left:60px;color: white;font-weight: bolder;">Student</p>
      <i class="fa fa-user" aria-hidden="true"></i>   
  </div>
  
              </div>
        </div> -->
   
    {% endblock %}

</body>
</html>