{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}
<div class="container">

<form action="{% url 'institute_app:tr_active_students' %}" method="POST">
 {% csrf_token %}
<table style="border-spacing: 10px; border-collapse: separate; height: 30px; margin-left: 200px; margin-bottom: 10px;">
    <tr>
        <td style="color: white;font-weight: bold;" class="h5">Select Course</td>
        <td><select name="course" class="form-control"  >
            {% for c in courses %}
            <option value="{{c.c_id}}">{{c.c_name|title}}</option>
            {% endfor %}
        </select>
   
    </td>
    </tr>
    <tr>
        <td></td>
        <td><center><button type="submit"   name="filter" class="btn btn-primary" style="background-color: blueviolet; ;text-align: center; width: 100px;"><span style="position: relative;left: 0px;">Filter</span></button></center></td>
    </tr>
</table>
</form>
<center>
    <!-- <nav aria-label="Page navigation example" style="margin-left: 300px; ">
     <ul class="pagination">
       <li class="page-item"><a class="page-link" href="#">Previous</a></li>
       <li class="page-item"><a class="page-link" href="#">1</a></li>
       <li class="page-item"><a class="page-link" href="#">2</a></li>
       <li class="page-item"><a class="page-link" href="#">3</a></li>
       <li class="page-item"><a class="page-link" href="#">Next</a></li>
     </ul>
   </nav> -->
 </center>
<div style="min-height: 300px;">
    <table class="table table-primary table-responsive" style="opacity: 0.9;">
        <tr style="text-align: center;">
           <th></th> 
           <th>Name</th>
           <th>Join Date</th>
           <th>Type </th>
           <th>Course</th>
          
           <th>Qualification</th>
           
        
           <th>Phone No</th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
           
        </tr>
        
       {% for student in students %}
       <form action="" method="POST">
           {% csrf_token %}
       <tr style="text-align: center;">
           <td><img src="{{student.s_pic.url}}" style="height: 50px; width: 50px;" alt=""></td>
           <td>{{student.s_name|title}}</td>
           <td>{{student.s_join}}</td>
           <td>{{student.s_type|capfirst}}</td>
           <td>{{student.c_id.c_name|title}}</td>
         
           <td>{{student.s_qual|title}}</td>
          
          
           <td>{{student.s_phno}}</td>
           
           <td><input type="submit" name="status" value="View Status" class="btn" style="background-color: blueviolet;"   id=""></td>
           <td><input type="submit" name="update" value="Update" class="btn" id="" style="background-color: red;"></td>
           <td><input type="submit" name="completed" value="Completed" class="btn" id="" style="background-color: coral;"></td>
           
           <td><input type="hidden" name="s_id" id="" value="{{student.s_id}}"></td>
       </tr>
       </form>
       {% endfor %}
       </table>
      
</div>
<input type="text" id="fee_err" value="{{fee_msg}}">
</form>
</div>
<script>
    
    if(document.getElementById('fee_err').value!="")
    {
alert('Payment Not Completed')
    }
     

    
    
</script>

{% endblock %}