{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}

<form   method="POST" enctype="multipart/form-data" style="margin-left: 400px;">
 {% csrf_token %}

 <table style="border-spacing: 10px;border-collapse: separate;font-weight: bolder;">    
<tr>
    <td>Select Student</td>
    <td>
        <select name="student" id="student" required class="form-control w-50">
            <option value="" selected disabled>Select</option>
    {% for student in students %}

                <option value="{{student.s_id}}">{{student.s_name|title}}</option>

    {% endfor %}
    </select>
    </td>
</tr>
<tr>
    <td>Select Module</td>
    <td>
        <select name="module" id="module" required class="form-control w-50">
    
        </select>
    </td>
</tr>

<tr>
    <td>
       Exam Date
    </td>
    <td>
        <input type="text" name="ex_date" id="" required class="form-control w-50"> 
    </td>
</tr>


<tr>
    <td></td>
    <td ><input type="submit" value="Submit" class="btn-primary" style="opacity: .9;"></td>
</tr>
 </table>

 {% if success_msg  %}
 <div class="alert alert-success w-50" style="border-radius: 10px;margin-top: 10px ;opacity: .9;" role="alert">
  {{success_msg}}
 </div>
 {% endif %}
 
 
 {% if error_msg  %}
 <div class="alert alert-danger w-50" style="border-radius: 10px;margin-top: 10px; opacity: .9;" role="alert">
  {{error_msg}}
 </div>

 
 {% endif %}

</form>

<script>
    $(document).ready(function(){
 



  $("#student").change(function(){
        
    
        
         const s_id = $(this).val(); 
        

         $.ajax({                      
         url: "http://127.0.0.1:8000/TrainerHome/getStudentModule",                    
         data: {
             's_id': s_id      
         },
         success: function (data) {   
             $("#module").html(data);
            
            console.log(data)
         }
     });


     
      
       });
  
});
</script>


{% endblock %}