{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}

<form  method="POST" enctype="multipart/form-data" style="margin-left: 250px;">
 {% csrf_token %}
 {% if msg %}
 <div class="alert alert-success w-50" style="border-radius: 10px;margin-top: 10px;" role="alert">
    {{msg}}
   </div>
   {% endif %}
 <table style="border-spacing: 10px;border-collapse: separate;color: white; font-weight: bold;">    
<tr>
    <td>Select Course</td>
    <td>
        <select name="course" id="course" required class="form-control">
            <option value="" selected disabled class="form-control">Select</option>
    {% for course in courses %}

                <option value="{{course.c_id}}">{{course.c_name|title}}</option>

    {% endfor %}
    </select>
    </td>
</tr>
<tr>
    <td>Select Module</td>
    <td>
        <select name="module" id="module" required class="form-control">
    
        </select>
    </td>
</tr>

<tr>
    <td>
       Description
    </td>
    <td>
        <textarea class="form-control" name="desc" id="" cols="30" rows="10" required></textarea>
    </td>
</tr>

<tr>
    <td>
        Upload File
    </td>
    <td>
        <input type="file" name="notes" id="" required class="form-control">
    </td>
</tr>
<tr>
    <td></td>
    <td ><input type="submit" value="Add" class="btn" style="background-color: blueviolet;width: 100px;"></td>
</tr>
 </table>


</form>

<script>
    $(document).ready(function(){
 



  $("#course").change(function(){
        
    
        
         const c_id = $(this).val(); 
        

         $.ajax({                      
         url: "http://127.0.0.1:8000/TrainerHome/getModules",                    
         data: {
             'c_id': c_id      
         },
         success: function (data) {   
             $("#module").html(data);
            
            console.log(data)
         }
     });


     
      
       });
  
});
</script>


{% endblock %}