{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}

<table>    
    <tr>
        <th>Student Name</td>
        <th>Module</th>
        <th>Date Added</th>
        <th>Exam Date</th>
        <th>Status</th>
   </tr>
   {% for exam in exams %}
    <td>{{exam.s_id.s_name|title}}</td>
    <td>{{exam.m_id.m_name|title}}</td>
    <td>{{exam.date_entered}}</td>
    <td>{{exam.exam_date}}</td>
    <td>{{exam.status|title}}</td>
    <td><a href="/IIMS/TrainerHome/ExamDel?id={{exam.id}}"> Delete</a></td>
    <td><a href="/IIMS/TrainerHome/ExamUp?id={{exam.id}}"> Update</a></td>
   <tr>
    {% endfor %}
  
</table>
   


{% endblock %}