{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}

<form action="{% url  'institute_app:upd_status' %}"  method="POST" enctype="multipart/form-data">
 {% csrf_token %}

 <div class="container">
 <table class="table table-primary table-hover w-75" style="position: relative; top: 60px;left: 100px;opacity: 0.9;">
     <tr>

         <th>Module</th>   
         <th>Status</th>

      </tr>
      {% for mod in modules %}
      <tr>
          <td>{{mod.m_id.m_name|title}}</td>
          <td>{{mod.status|title}}</td>
      </tr>

        {% endfor %}
    </table>

</div>
{% endblock %}