{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}
<form method="POST" action="{% url 'institute_app:tr_assign_seat' %}" class="reg-form" enctype="multipart/form-data" style="position: relative;left:420px;color: white;font-weight: bold; top: 5px;">
    {% csrf_token %}
    <p  class="text-danger">{{msg}}</p>
<table style="border-spacing: 10px;border-collapse: separate; ">
    
    <tr>
        <td>Select Student</td>
         <td>
             <select name="student" class="form-control">
                 {% for student in students %}
                <option value="{{student.s_id}}">{{student.s_name|title}}</option>
                {% endfor %}
         </select>
        </td>
    </tr>
    <tr>
        <td>Select Lab</td>
         <td>
             <select name="lab" id="lab" required  class="form-control">
                <option disabled selected=selected>-----------</option>
                <option value="1">1</option>
                <option value="2">2</option>
               
         </select>
        </td>

    </tr>
    <tr>
        <td>Select System</td>
         <td>
             <select required  class="form-control" name="system" id="system" class="form-control w-50" >
                
                
               
         </select>
        </td>

    </tr>
    <tr>
        <td>Select Slot</td>
         <td>
             <select name="slot" id="slot" class="form-control" required>
                
                <option value="slot1" selected=selected>Slot 1</option>
                <option value="slot2">Slot 2</option>
                <option value="slot3">Slot 3</option>
               
         </select>
        </td>

    </tr>
   
    
</table>

<input type="submit" value="Update" class="btn btn-primary" style="margin-left: 60px;"/>
{% if status %}
{% if status == 'Seat Updated Succesfully'  %}
<div class="alert alert-success w-25" style="border-radius: 10px;margin-top: 10px;" role="alert">
 {{status}}
</div>
{% endif %}


{% if status == 'Seleted System Not Free'  %}
<div class="alert alert-danger w-25" style="border-radius: 10px;margin-top: 10px;" role="alert">
 {{status}}
</div>
{% endif %}

{% endif %}
</form>


<script>
    $(document).ready(function(){
 



  $("#lab").change(function(){
        
    
        
         const lab_no = $(this).val(); 
        

         $.ajax({                      
         url: "http://127.0.0.1:8000/TrainerHome/getSystem",                    
         data: {
             'lab_no': lab_no      
         },
         success: function (data) {   
             $("#system").html(data);
            
            console.log(data)
         }
     });


     
      
       });
  
});
</script>




{% endblock %}