{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}
<form method="POST" action="{% url 'institute_app:tr_st_att'  %}" class="reg-form" enctype="multipart/form-data">

    
    {% csrf_token %}
    <table>
        <tr>
            <td>Select Student</td>
            <td>
                <select name="student">
                {% for student in students %}
               <option value="{{student.s_id}}">{{student.s_name|title}}</option>
               {% endfor %}
        </select>
    </td>
        </tr>
    <tr>
        <td>
            Select Month
        </td>
        <td>
            <select name="mnth" >
                
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value=7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>

            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" ></td>
    </tr>
</table>

</form>



{% if attendance_data %}
<H3>{{student_name|title}}</H3>

<table>
   <tr>
      
       <th>Date</th>
       <th>Status</th>
      
   </tr>
   <tr>
       {% for data in attendance_data %}

        <td>{{data.date}}</td>
        <td>{{data.status|title}}</td>
     

       
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}