{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}



<div class="container">

  
<table class="table table-primary">
   <tr>

        <th>Student ID</th>
        <th>Student Name</th>
        <th>Course Completed</th>
        <th>Company Name</th>
        <th>Designation</th>
        <th>Joining Date</th>
       
       
   </tr>
   
   <tr>
       {% for p in placements %}
       <form action="" method="POST">

        {% csrf_token %}
        <td>{{p.s_id.s_id}}</td>
        <td>{{p.s_id.s_name|title}}</td>
        <td>{{p.s_id.c_id.c_name|title}}</td>
        <td>{{p.cmp_name|title}}</td>
        <td>{{p.designation|title}}</td>
        <td>{{p.join_date}}</td>
    
</form>
    {% endfor %}
</table>

</div>


{% endblock %}