{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}
<form method="POST" action="{% url 'institute_app:tr_view_seat'  %}" class="reg-form" enctype="multipart/form-data">

    {% csrf_token %}
    <table style="border-spacing: 10px; border-collapse: separate; margin-left: 330px;">
    <tr>
        <td class="text-white" style="font-weight: bold;">
            Select Lab
        </td>
        <td>
            <select name="lab" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" class="btn btn-primary" style="background-color: blueviolet;" ></td>
    </tr>
</table>

</form>



{% if seating_details %}

<table class="table table-primary">
   <tr>
      
       <th>Sys No</th>
       <th>Slot 1</th>
       <th>Slot 2</th>
       <th>Slot 3</th>
   </tr>
   <tr>
       {% for data in seating_details %}

        <td>{{data.sys_no}}</td>
        <td>{{data.slot1|title}}</td>
        <td>{{data.slot2|title}}</td>
        <td>{{data.slot3|title}}</td>

       
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}