{% extends 'Student/StudentMaster.html' %}

{% block content%}


 <table>
     <tr>
         <th>Date Added</th>
         <th>Exam Date</th>
         <th>Module</th>
         <th>Status</th>
         
     </tr>
     {% for exam in exams %}

     <tr>
         <td>{{exam.date_entered}}</td>
          <td>{{exam.exam_date}}</td>
          <td>{{exam.m_id.m_name|title}}</td>
          <td>{{exam.status|title}}</td>
         <td> <a target="_blank" href="{{note.uploaded_file.url}}">{{note.uploaded_file}}</a></td>
    
        
      
     {% endfor %}
    </tr>
 </table>






{% endblock %}