{% extends 'HR/HrMaster.html' %}

{% block content%}
<div class="bd">
    
<form method="POST" action="{% url 'institute_app:add_student' %}" class="reg-form"  enctype="multipart/form-data">
    {% csrf_token %}
   
    {% if error_msg  %}
 <div class="alert alert-danger w-50 tb"  style="border-radius: 10px;margin-top: 10px; opacity: .9;margin-left: 200px;" role="alert">
  {{error_msg}}
 </div>

 
 {% endif %}


 <div class="alert alert-danger tb"  id="err_display" style="border-radius: 10px;margin-top: 10px;display: none; opacity: .9;margin-left: 400px; width: 300px;" role="alert">
 rfherlgh
 </div>

 



<table class="tb" >
    <tr>
        <td>Student Name</td>
        <td><input type="text" name="std_name"  id="std_name" required class="form-control"></td>
        
    </tr>
    <tr>
        <td >Gender</td>
         <td style="color: black;">
            <input type="radio" name="std_gender" id="std_gender1" value="male" checked >Male
            <input type="radio" name="std_gender" id="std_gender2" value="female">Female

        </td>
    </tr> 
     <tr>
        <td>Course Selected</td>
         <td>
             <select name="std_course" class="form-control">
                 {% for course in courses %}
                <option value="{{course.c_id}}">{{course.c_name|title}}</option>
                {% endfor %}
         </select>
        </td>
    </tr>
    <tr>
        <td>
           Mode
        </td>
        <td>
          <select name="std_mode" id="std_mode" class="form-control">
              <option value="offline">Offline</option>
              <option value="online">Online</option>
          </select>
       </td>
    </tr>
     <tr>
        <td>D.O.B</td>
         <td><input type="date" name="std_dob" id="std_dob" class="form-control" required></td>
    </tr>
   <tr>
        <td>College</td>
         <td><input type="text" name="std_colg" required class="form-control" id=""></td>
    </tr>
    <tr>
        <td>Qualification</td>
         <td><select name="std_qual" id="std_qual" class="form-control">
             <option value="bca">BCA</option>
             <option value="mca">MCA</option>
             <option value="bba">BBA</option>
             <option value="bsc">BSC</option>
             <option value="msc">MSC</option>
             <option value="btech">BTech</option>
             <option value="mtech">MTech</option>
         </select></td>
    </tr>
     
    <tr>
        <td>Passout Year</td>
         <td><input type="number" name="std_passout" min=1990 max=2022 id="std_passout" class="form-control" required></td>
    </tr>
    
    <tr>
        <td>Address</td>
         <td><textarea name="std_address" id="std_address" cols="22" class="form-control" rows="5" required></textarea></td>
    </tr>
  
    <tr>
        <td>Email</td>
         <td><input type="text" name="std_email" id="std_email" class="form-control" required></td>
    </tr>
     
    <tr>
        <td>Phone No</td>
         <td><input type="text" name="std_phno" id="std_phno" class="form-control" required></td>
    </tr>
     
    <tr>
        <td>Amount Payable</td>
         <td><input type="number" name="amt_payable" id="amt_payable" required min="100" class="form-control"></td>
    </tr>
    <tr>
        <td>Select Pic</td>
         <td><input type="file" name="std_pic" id="std_pic" required class="form-control"></td>
    </tr>
    <tr>

        <td>Enter Installment</td>
        <td><input type="number" name="ins1" class="form-control d-inline" required style="width: 80px;" id="ins1" min="100">
            <input type="number" name="ins2" class="form-control d-inline" required style="width: 80px;" id="ins2" min=100>
            
            <input type="number" name="ins3" class="form-control d-inline" required style="width: 80px;" id="ins3" min=100></td>
    </tr>
   
    
</table>

<input type="submit" id='btn' onclick="return validation()" value="Add" class="btn btn-primary"  style="margin-left: 480px;"/>
</form>
</div>

<script>

function validation(){


    var name=$("#std_name")
   
    var email=$("#std_email")
    var phno=$("#std_phno")
     var err=$("#err_display")

    var name_format=/^[a-z A-Z]+$/
    var reg_email = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
      
    
    if(name.val().match(name_format)==null && name.val()!=''){
        
        err.css({'display':'block','color':'red'})
        err.html('Name Should Not Contain Numbers Or Characters')
        name.focus()
        return false
    }
    else{
        err.css({'display':'none'})
    }

    if(email.val().match(reg_email)==null && email.val()!=""){
         
        err.css({'display':'block','color':'red'})
        err.html('Invalid Email Format')
       
        email.focus()
        return false;
    }

    else{
        err.css({'display':'none'})
    }

 

    
    var phno_format=/^[6-9]{1}[0-9]{9}$/;
if(phno.val().match(phno_format)==null && phno.val()!=''){
     
     err.css({'display':'block','color':'red'})
     err.html('Invalid Phone No')
     phno.focus()
     return false
 }
 else{
     err.css({'display':'none'})
 }

    

   
 
    
   

   
}
</script>
{% endblock %}