
{% extends 'HR/HrMaster.html' %}

{% block content%}
<h1 class="text-white fw-bold" style=" margin-left: 490px;">{{st|title}}</h1>
<form action="{% url 'institute_app:hr_add_pay' %}" method="POST" >
    {% csrf_token %}
<table style="border-spacing: 10px;border-collapse: separate;color: white; margin-left: 400px;margin-top: 20px;font-weight: bold;">
    <tr>
        <td>Payment Date</td>
        <td><input type="date" placeholder="dd/mm/yyyy" name="p_date" required class="form-control"></td>
    </tr>
    <tr>
        <td>Amount Paid</td>
        <td><input type="number"  name="p_amt" min="100" required class="form-control"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" name="" id="" style="background-color: blueviolet;" class="btn" value="Submit"></td>
    </tr>
</table>
</form>
{% endblock %}