{% extends 'Hr/HrMaster.html' %}

{% block content%}
<form method="POST" action="" class="reg-form" enctype="multipart/form-data">

    
    {% csrf_token %}
    <table style="border-spacing: 10px;border-collapse: separate;color: white;font-weight: bold;margin-left: 410px;">
        <tr>
            <td>Select Student</td>
            <td>
                <select name="student" class="form-control">
                {% for student in students %}
               <option value="{{student.s_id}}">{{student.s_name|title}}</option>
               {% endfor %}
        </select>
    </td>
        </tr>
    <tr>
        <td>
            Add Comment
        </td>
        <td>
           
            <textarea name="hr_comnt" id="" cols="13" rows="5" class="form-control" required></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" class="btn" style="background-color: blueviolet;" ></td>
    </tr>
</table>
{% if success_msg  %}
<div class="alert alert-success w-25" style="border-radius: 10px;margin-top: 10px ;opacity: .9;margin-left: 430px;" role="alert">
 {{success_msg}}
</div>
{% endif %}


{% if error_msg  %}
<div class="alert alert-danger w-25" style="border-radius: 10px;margin-top: 10px; opacity: .9;margin-left: 430px;" role="alert">
 {{error_msg}}
</div>


{% endif %}
</form>



{% if attendance_data %}
<H3>{{student_name|title}}</H3>

<table>
   <tr>
      
       <th>Date</th>
       <th>Status</th>
      
   </tr>
   <tr>
       {% for data in attendance_data %}

        <td>{{data.date}}</td>
        <td>{{data.status|title}}</td>
     

       
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}