{% extends 'Trainer/TrainerMaster.html' %}

{% block content%}

<form action="{% url  'institute_app:upd_status' %}"  method="POST" enctype="multipart/form-data">
 {% csrf_token %}
        <h3 class="text-white fw-bold" style="margin-left: 490px;">{{name|title}}</h3>
 <table class="table table-primary table-hover" style="opacity: 0.8;" >
     <tr>

         <th>Module</th>   
         <th>Status</th>

      </tr>
      {% for data in student_data %}
      <tr>
          <td>{{data.m_id.m_name|title}}</td>
          <td>{{data.status|title}}</td>
      </tr>

        {% endfor %}
    </table>


{% endblock %}